﻿@{
    ViewData["Title"] = "Access denied";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header alert alert-danger">@ViewData["Title"]</h3>

        <p>Bạn không có quyền truy cập chức năng này, Vui lòng liên hệ administrator</p>
    </div>
    <!-- /.col-lg-12 -->
</div>