﻿@{
    ViewData["Title"] = "Đổi mật khẩu";
}
@using System.Collections
@model CartShop.ViewModel.ChangePassViewModel

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">

        <form asp-action="ChangePass" method="post">
            <div class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>

                <fieldset>
                    
                    <div class="form-group">
                        <label asp-for="pass_word_old" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="pass_word_old" type="password" class="form-control" placeholder="Mật khẩu cũ" />
                            <span asp-validation-for="pass_word_old" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="pass_word_new" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="pass_word_new" type="password" class="form-control" placeholder="Mật khẩu mới" />
                            <span asp-validation-for="pass_word_new" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="pass_word_confirm" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="pass_word_confirm" type="password" class="form-control" placeholder="Mật khẩu xác nhận" />
                            <span asp-validation-for="pass_word_confirm" class="text-danger"></span>
                        </div>
                    </div>
                    
                </fieldset>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-primary" id="submit">Đổi mật khẩu</button>
                    </div>
                </div>

            </div>
        </form>

    </div>
    <!-- /.col-lg-12 -->
</div>