﻿@{
    ViewData["Title"] = "Xác nhận xóa tài khoản nhân viên";
}
@using System.Collections
@model CartShop.ViewModel.UserDeleteViewModel


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        @if (Model != null)
        {
            <div class="form-horizontal">
                <form asp-action="DeleteUser" asp-route-id="@Model.user_id">
                    @Html.AntiForgeryToken();

                    <div class="form-group">
                        <div class="col-md-9">
                            <p><b>Tên tài khoản:</b> @Model.user_name</p>
                            <p><b>Email:</b> @Model.email</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <button class="btn btn-danger" id="delete">Đồng ý xóa</button>
                            <a asp-action="Index" class="btn btn-default">Quay lại danh sách</a>
                        </div>                       
                    </div>

                    
                </form>
               
            </div>
            

           

        }
    </div>
</div>
