﻿@{
    ViewData["Title"] = "Thông tin nhân viên";
}
@using System.Collections
@model CartShop.ViewModel.UserViewModel

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">

            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                <input asp-for="user_id" type="hidden" readonly />
                <input type="hidden" asp-for="IsEdit" />
                <fieldset>
                    <h3>Thông tin tài khoản</h3>
                    <hr />
                    <div class="form-group">
                        <label asp-for="role_id" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select asp-for="role_id" asp-items="(IEnumerable<SelectListItem>)@ViewData["RoleList"]" class="form-control" readonly></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="user_name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="user_name" class="form-control" readonly />
                            <span asp-validation-for="user_name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="email" class="form-control" readonly />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="email_confirm" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="email_confirm" class="form-control"  readonly />
                            <span asp-validation-for="email_confirm" class="text-danger"></span>
                        </div>
                    </div>                    
                </fieldset>
                <fieldset>
                    <h3>Thông tin cá nhân</h3>
                    <hr />
                    <div class="form-group">
                        <label asp-for="Employee.name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Employee.name" type="text" class="form-control" readonly />
                            <span asp-validation-for="Employee.name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Employee.genner" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select asp-for="Employee.genner" class="form-control" readonly>
                                <option value="1">Nam</option>
                                <option value="2">Nữ</option>
                                <option value="3">Giới tính thứ 3</option>
                            </select>
                            <span asp-validation-for="Employee.genner" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Employee.address" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Employee.address" type="text" class="form-control" readonly />
                            <span asp-validation-for="Employee.address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Employee.phone" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Employee.phone" type="tel" class="form-control" readonly />
                            <span asp-validation-for="Employee.phone" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Employee.office" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select asp-for="Employee.office" class="form-control" readonly>
                                <option value="1">Quản lý</option>
                                <option value="2">Nhân viên</option>
                                <option value="3" selected>Người dùng thường</option>
                            </select>
                            <span asp-validation-for="Employee.office" class="text-danger"></span>
                        </div>
                    </div>

                </fieldset>

                <div class="form-group">
                    <label asp-for="status" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <label>
                            <input asp-for="status" type="checkbox" checked readonly />
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a asp-action="Index" class="btn btn-default">Quay lại danh sách</a>
                    </div>
                </div>

            </div>
       

    </div>
    <!-- /.col-lg-12 -->
</div>