﻿@{
    ViewData["Title"] = "Quản lý nhân viên";

    int _pageSize = (int)ViewData["PageSize"];
}



@model PaginatedList<CartShop.ViewModel.UserManagerViewModel>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]</h1>

        @if (TempData["Errors"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Errors"]
            </div>
        }

        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Success"]
            </div>
        }
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12 padding_bottom_100">
        <p class="pull-left">
            <a asp-action="CreateUser" class="btn btn-primary">Tạo mới tài khoản nhân viên</a>
        </p>       

        <form asp-action="Index" method="get" class="pull-right form-inline">
            <div class="form-actions no-color">
                <div class="form-group">
                    <input type="text" name="SearchString" class="form-control" value="@ViewData["currentFilter"]" placeholder="Search...." />
                    <input type="submit" value="Search" class="btn btn-default" /> |
                    <a asp-action="Index">Quay trở danh sách</a>
                </div>
            </div>
        </form>

        @if (Model != null)
        {
            int i = 1;
            if (Model.PageIndex > 1)
            {
                i = (i + (Model.PageIndex - 1) * _pageSize);
            }
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th width="50">Mã nhân viên</th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Tên nhân viên</a></th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["EmailSortParm"]">E-mail</a></th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["UserNameSortParm"]">Tài khoản</a></th>
                        <th>Ngày tạo</th>
                        <th>Kích hoạt</th>
                        <th>Quyền hạn</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>nv_@i</td>
                            <td>@item.name</td>
                            <td>@item.email</td>
                            <td>@item.user_name</td>
                            <td>@item.date_created.Value.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
                            <td>@if (item.status) { <text>Active</text> } else { <text>Deactive</text>}</td>
                            <td>@item.RoleName</td>
                            <td>@item.status_text</td>
                            <td>
                                <a asp-action="DetailUser" asp-route-id="@item.user_id">Chi tiết</a> |
                                <a asp-action="EditUser" asp-route-id="@item.user_id">Sửa</a> |
                                <a asp-action="DeleteUser" asp-route-id="@item.user_id">Xóa</a>
                            </td>
                        </tr>
                        i++;
                        
                    }
                </tbody>
            </table>


            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";


            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @prevDisabled">
               <i class="fa fa-angle-double-left"></i> Trang trước
            </a>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @nextDisabled">
                Trang sau <i class="fa fa-angle-double-right"></i>
            </a>
        }

    </div>
</div>

