﻿@{
    ViewData["Title"] = "Đăng nhập - QUẢN LÝ BÁN HÀNG VER 1.0";
    Layout = null;
}

@model CartShop.ViewModel.LoginViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>
    <environment names="Development">
        <!-- Bootstrap Core CSS -->
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <!-- MetisMenu CSS -->
        <link href="~/lib/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="~/css/sb-admin-2.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </environment>
    <environment names="Staging,Production">
        <!-- Bootstrap Core CSS -->
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <!-- MetisMenu CSS -->
        <link href="~/lib/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="~/css/sb-admin-2.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body style="background-color: #f6f6f6;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b style="text-transform: uppercase;">PHẦN MỀM QUẢN LÝ BÁN HÀNG VER 1.0</b></h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" asp-controller="Account" asp-action="Login" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
                            <fieldset>
                                <div class="form-group">
                                    <input asp-for="user_name_or_email" class="form-control" required placeholder="Tên đăng nhập hoặc E-mail" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input asp-for="pass_word" class="form-control" required placeholder="Mật khẩu" type="password">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="isRemember" type="checkbox">Ghi nhớ mật khẩu
                                    </label>
                                </div>
                                <button id="loginbtn" class="btn btn-lg btn-success btn-block">Đăng nhập</button>
                            </fieldset>
                            
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="~/lib/metisMenu/dist/metisMenu.min.js"></script>       
        <!-- Custom Theme JavaScript -->
        <script src="~/js/sb-admin-2.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="~/lib/metisMenu/dist/metisMenu.min.js"></script>       
        <!-- Custom Theme JavaScript -->
        <script src="~/js/sb-admin-2.min.js"></script>
    </environment>
</body>
</html>
