﻿@{
    ViewData["Title"] = "Thêm mới danh mục quản trị (menu)";
}
@using System.Collections
@model CartShop.ViewModel.MenuViewModel

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">

        <form asp-action="Create" method="post">
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="menu_id" type="hidden" />

                <fieldset>
                    <h3>Thông tin danh mục quản trị</h3>
                    <hr />
                    <div class="form-group">
                        <label asp-for="menu_name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="menu_name" type="text" class="form-control" />
                            <span asp-validation-for="menu_name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="menu_url" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="menu_url" type="text" class="form-control" />
                            <span asp-validation-for="menu_url" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="level_user" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select asp-for="level_user" class="form-control">
                                <option value="1" selected>Chỉ quản trị</option>
                                <option value="2">Quản trị, Nhân viên</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="parent_id" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="parent_id" min="1" type="number" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="order_by" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="order_by" min="1" type="number" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="icon" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="icon" min="1" type="text" class="form-control" />
                        </div>
                    </div>                    

                    <div class="form-group">
                        <label asp-for="status" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <label>
                                <input asp-for="status" type="checkbox" checked />
                            </label>
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-primary" id="submit"><i class="fa fa-plus"></i> Thêm mới</button>
                        <a asp-action="Index" class="btn btn-default">Quay lại danh sách</a>
                    </div>
                </div>

            </div>
        </form>

    </div>
    <!-- /.col-lg-12 -->
</div>