﻿@{
    ViewData["Title"] = "Quản lý danh mục menu";
    int _pageSize = (int)ViewData["PageSize"];
}

@model PaginatedList<CartShop.ViewModel.MenuViewModel>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]</h1>

       @if (TempData["Errors"] != null)
       {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Errors"]
        </div>
       }

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Success"]
        </div>
    }
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12 padding_bottom_100">
        <p class="pull-left">
            <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
        </p>

        <form asp-action="Index" method="get" class="pull-right form-inline">
            <div class="form-actions no-color">
                <div class="form-group">
                    <input type="text" name="SearchString" class="form-control" value="@ViewData["currentFilter"]" placeholder="Search...." />
                    <input type="submit" value="Tìm kiếm" class="btn btn-default" /> |
                    <a asp-action="Index">Quay trở danh sách</a>
                </div>
            </div>
        </form>

        @if (Model != null)
        {
            int i = 1;
            if (Model.PageIndex > 1)
            {
                i = (i + (Model.PageIndex - 1) * _pageSize);
            }
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th width="100">Mã menu</th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["MenuNameSortParm"]">Tên menu</a></th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["MenuUrlSortParm"]">Link truy cập</a></th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["LevelUserSortParm"]">Cấp độ truy cập</a></th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["OrderBySortParm"]">Thứ tự sắp xếp</a></th>
                        <th><a asp-action="Index">Id Danh mục cha</a></th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>menu_@i</td>
                            <td>@item.menu_name</td>
                            <td>@item.menu_url</td>
                            <td>
                                @if (@item.level_user == 1)
                                {
                                    <text>Chỉ quản trị</text>
                                }
                                else
                                {
                                    <text>Quản trị, nhân viên</text>
}
                            </td>
                            <td align="right">@item.order_by</td>
                            <td align="right">@item.parent_id</td>
                            <td>@if(@item.status == true)
                            { <text>Active</text> }
                            else
                            { <text>Deactive</text>}</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.menu_id">Sửa</a> |
                                <a asp-action="Delete" asp-route-id="@item.menu_id">Xóa</a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>


            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";


            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @prevDisabled">
                <i class="fa fa-angle-double-left"></i> Trang trước
            </a>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @nextDisabled">
                Trang sau <i class="fa fa-angle-double-right"></i>
            </a>
        }

    </div>
</div>
