﻿@{
    ViewData["Title"] = "Thêm mới hàng hóa";
}
@using System.Collections
@model CartShop.ViewModel.ProductViewModel

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">

        <form asp-action="Create" method="post">
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="product_id" type="hidden" value="@ViewData["NewProductId"]" />

                <fieldset>
                    <h3>Thông tin hàng hóa</h3>
                    <hr />
                    <div class="form-group">
                        <label asp-for="category_id" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select asp-for="category_id" asp-items="(IEnumerable<SelectListItem>)@ViewData["DropdownCat"]" class="form-control"></select>
                            <span asp-validation-for="category_id" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="provider_id" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select asp-for="provider_id" asp-items="(IEnumerable<SelectListItem>)@ViewData["DropdownProvider"]" class="form-control"></select>
                            <span asp-validation-for="provider_id" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="name" class="form-control" />
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="price" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="price" type="number" min="1" class="form-control" />
                            <span asp-validation-for="price" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="net_price" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="net_price" type="number" class="form-control" />
                            <span asp-validation-for="net_price" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="quantity" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="quantity" type="number" class="form-control" />
                            <span asp-validation-for="quantity" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="expiry_date" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="expiry_date" type="date" class="form-control" />
                            <span asp-validation-for="expiry_date" class="text-danger"></span>
                        </div>
                    </div>   


                </fieldset>

                <fieldset>
                    <h3>Thông tin chi tiết</h3>
                    <hr />
                    
                    <div class="form-group">
                        <label asp-for="ProductDetail.description" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <textarea asp-for="ProductDetail.description" rows="5" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProductDetail.keyWord" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ProductDetail.keyWord" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProductDetail.img1" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ProductDetail.img1" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProductDetail.img2" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ProductDetail.img2" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProductDetail.img3" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ProductDetail.img3" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProductDetail.img4" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ProductDetail.img4" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProductDetail.img5" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ProductDetail.img5" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProductDetail.img6" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ProductDetail.img6" type="text" class="form-control" />
                        </div>
                    </div>

                </fieldset>

                <div class="form-group">
                    <label asp-for="status" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <label>
                            <input asp-for="status" type="checkbox" checked />
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-primary" id="submit"><i class="fa fa-plus"></i> Thêm mới</button>
                        <a asp-action="Index" class="btn btn-default">Quay lại danh sách</a>
                    </div>
                </div>

            </div>
        </form>

    </div>
    <!-- /.col-lg-12 -->
</div>