﻿@{
    ViewData["Title"] = "Quản lý danh sách hàng hóa";
    int _pageSize = (int)ViewData["PageSize"];
}

@model PaginatedList<CartShop.ViewModel.ProductViewModel>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]</h1>

        @if (TempData["Errors"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 @TempData["Errors"]
            </div>
        }

        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Success"]
            </div>
        }
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12 padding_bottom_100">
        <p class="pull-left">
            <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
        </p>

        <form asp-action="Index" method="get" class="pull-right form-inline">
            <div class="form-actions no-color">
                
                <div class="form-group">
                    <label for="catId">Danh mục</label>
                    <select id="catId" name="catId" asp-items="(IEnumerable<SelectListItem>)@ViewData["DropdownCat"]" class="form-control"></select>
                    <input type="text" name="SearchString" class="form-control" value="@ViewData["currentFilter"]" placeholder="Search...." />
                    <input type="submit" value="Tìm kiếm" class="btn btn-default" /> |
                    <a asp-action="Index">Quay trở danh sách</a>
                </div>
            </div>
        </form>

        @if (Model != null)
        {
            int i = 1;
            if (Model.PageIndex > 1)
            {
                i = (i + (Model.PageIndex - 1) * _pageSize);
            }
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th width="50">Mã sản phẩm</th>
                        @*<th><a asp-action="Index" asp-route-sortOrder="@ViewData["ProductIdSortParm"]">Mã sản phẩm</a></th>*@
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["ProductNameSortParm"]">Tên sản phẩm</a></th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["ProviderNameSortParm"]">Nhà cung cấp</a></th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["ProductPriceSortParm"]">Giá nhập</a></th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["ProductNetPriceSortParm"]">Giá bán</a></th>                        
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["ProductQuantitySortParm"]">Số lượng trong kho</a></th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["ProductExpiryDateSortParm"]">Hạn sử dụng</a></th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {                        
                        <tr>
                            <td>sp_@i</td>
                            <td>@item.name</td>
                            <td>@item.provider_name</td>
                            <td>@item.price</td>
                            <td>@item.net_price</td>
                            <td style="@if (item.quantity <= 10) { <text>color: red; font-weight: 600;</text> } " >@item.quantity</td>
                            <td>
                                @item.expiry_date.Value.ToString("dd/MM/yyyy")
                            </td>
                            <td>@if (item.status)
                            { <text>Đang bán</text> }
                            else
                            { <text>Dừng bán</text>}</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.product_id">Sửa</a> |
                                <a href="javascript:void(0)" onclick="ConfirmDelete('@item.product_id');">Xóa</a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>


            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";


            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-catId="@ViewData["CatId"]"
               class="btn btn-default @prevDisabled">
                <i class="fa fa-angle-double-left"></i> Trang trước
            </a>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-catId="@ViewData["CatId"]"
               class="btn btn-default @nextDisabled">
                Trang sau <i class="fa fa-angle-double-right"></i>
            </a>
        }

    </div>
</div>

@section Scripts {
@if (@ViewData["CatId"] != null)
            {
    <script>
        $(document).ready(function() {
            var catId = "";
            catId = @ViewData["CatId"];
            if (catId != "")
            {
                $('#catId').val(catId);
            }
        })
        
    </script>        
}

<script>

        function ConfirmDelete(Id) {
            if (!confirm('Bạn muốn xóa mặt hàng này không?')) {
                return;
            }
            $.ajax({
                url: '/Products/Delete?Id='+Id,
                type: 'POST',
                data: { Id: Id},
                dataType: "json",
                error: function (xhr) {
                    alert('Mặt hàng không tồn tại.');
                },
                success: function (data) {
                    if (console && console.log) {
                        if (data == 1) {
                            alert('Bạn đã xóa mặt hàng thành công');
                        } else if(data == 0) {
                            alert('Mặt hàng đang được bán, bạn không thể xóa.');
                        }
                        window.location.href = '/Products/Index'; //Will take you to /Products/Index.
                    }
                }
            });

        }

</script>

}