﻿@model IEnumerable<CartShop.ViewModel.SidebarViewModel>

<!-- /.navbar-top-links -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            @if (Model != null)
            {
               @* <li class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <!-- /input-group -->
    </li>*@
                @foreach (var item in Model)
                {
                    @if (item.childMenu != null && item.childMenu.Count > 0)
                    {
                        <li>
                            <a href="@item.menu_url"><i class="fa @item.icon fa-fw"></i> @item.menu_name<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                
                                @foreach (var itemn in @item.childMenu)
                                {
                                    <li>
                                        <a href="@itemn.menu_url">@itemn.menu_name</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        
                    }
                    else
                    {
                        <li>
                            <a href="@item.menu_url"><i class="fa @item.icon fa-fw"></i> @item.menu_name</a>
                        </li>
                    }
                }
            }
        </ul>

    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->