﻿@{
    ViewData["Title"] = "Chi tiết đơn hàng";
}
@using System.Collections
@model CartShop.ViewModel.CartViewModel

@*<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewData["Title"]</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>*@

<div class="row">
    <div class="col-lg-12">
        <h3>Thông tin đơn hàng</h3>

        <hr />
        <form asp-action="Create" method="post" id="BanHang">
            <div class="form-horizontal">
                @*@Html.AntiForgeryToken()*@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <fieldset>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label asp-for="order_code" class="control-label"></label>
                            <input asp-for="order_code" type="text" readonly class="form-control" value="@ViewData["NewOrderCode"]" />
                        </div>
                        <div class="col-md-6">
                            <label asp-for="customer_name" class="control-label"></label><span style="color: red; font-weight: 600;"> (*)</span>
                            <input asp-for="customer_name" class="form-control" />
                            <span asp-validation-for="customer_name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label asp-for="customer_phone" class="control-label"></label>
                            <input asp-for="customer_phone" type="text" class="form-control" />
                            <span asp-validation-for="customer_phone" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="customer_address" class="control-label"></label><span style="color: red; font-weight: 600;"> (*)</span>
                            <input asp-for="customer_address" type="text" class="form-control" />
                            <span asp-validation-for="customer_address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label asp-for="customer_email" class="control-label"></label>
                            <input asp-for="customer_email" type="text" class="form-control" />
                            <span asp-validation-for="customer_email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="status_order" class="control-label"></label>
                            <select asp-for="status_order" class="form-control">
                                <option value="1">Chưa thanh toán</option>
                                @*<option value="2">Đơn hàng đang chuyển</option>*@
                                <option value="3">Đơn hàng đã thanh toán</option>
                                @*<option value="4">Hủy đơn hàng</option>*@
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <button class="btn btn-primary" id="submit"><i class="fa fa-plus"></i> Tạo mới và in hóa đơn</button>
                            @*<span class="btn btn-default" id="print-pdf"><i class="fa fa-plus"></i>In hóa đơn</span>*@
                        </div>
                    </div>

                    <table id="order_list" class="table table-bordered">
                        <thead>
                            <tr>
                                <th data-field="product_id">Mã sản phẩm</th>
                                <th data-field="product_name">Tên sản phẩm</th>
                                <th data-field="provinder_name">Nhà sản xuất</th>
                                <th data-field="donvitinh">DVT</th>
                                <th data-field="net_price">Giá bán</th>
                                <th data-field="quantity_number">Số lượng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>

                    <div class="form-group">
                        <div class="col-md-6">
                            <input id="search" type="text" placeholder="Nhập tên sản phẩm" class="form-control" />
                            <span id="btnsearch" class="btn btn-primary">Tìm sản phẩm</span>
                        </div>
                    </div>

                    <div id="products">


                    </div>


                </fieldset>





            </div>
        </form>

    </div>
    <!-- /.col-lg-12 -->
</div>

<div id="editor"></div>

@section Scripts{
@*<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>*@
    <script type="text/javascript">
       

        $(document).ready(function () {

            //var doc = new jsPDF({
            //    orientation: 'landscape',
            //});
            //var specialElementHandlers = {
            //    '#editor': function (element, renderer) {
            //        return true;
            //    }
            //};

            //$('#print-pdf').on('click', function () {
                
            //    doc.fromHTML($('#page-wrapper').html(), 10, 10, {
            //        'width': 1200,
            //        //'elementHandlers': specialElementHandlers
            //    });
            //    doc.save('thong-tin-don-hang-' + new Date().toLocaleString() + '.pdf');

            //})

            $('#btnsearch').on('click', function () {
                if ($('#search').val() == "") {
                    return;
                }
                $.getJSON("/Products/GetProduct?search=" + $('#search').val(), function (data) {
                    $('#products').empty();
                    var items = [];

                    $.each(data, function (i, v) {
                        var _product = '<div class="item col-md-3"><div class="thumbnail"><img src="http://placehold.it/400x250/000/" alt=""><div class="caption"><p>' + v.product_name + '</p><div class="row"><div class="col-xs-12 col-md-6 text-left"><p>1000000</p></div><div class="col-xs-12 col-md-6 text-right"><p><a href="#" class="add-shop btn btn-default text-right" role="button" data-product-id="' + v.product_id + '" data-product-name="' + v.product_name + '" data-price="' + v.price + '" data-net-price="' + v.net_price + '" data-dvt="' + v.dvt + '" data-provider-name="' + v.provider_name + '"><i class="fa fa-shopping-cart"></i></a></p></div></div></div></div></div>';
                       

                        items.push(_product);
                    });
                                
                    $("<div />", {
                        "class": "row list-group",
                        html: items.join("")
                    }).appendTo("#products");
                });

                $(function () {
                    $('#products').on('click', 'a.add-shop', function (e) {
                        var product_id = $(this).data('product-id');
                        var product_name = $(this).data('product-name');
                        var price = $(this).data('price');
                        var net_price = $(this).data('net-price');
                        var dvt = $(this).data('dvt');
                        var provider_name = $(this).data('provider-name');                        

                        var tr = "<tr id='" + product_id + "' data-price='" + price + "'><td>" + product_id + "</td><td>" + product_name + "</td><td>" + provider_name + "</td><td>" + dvt + "</td><td>" + net_price + "</td><td><input type='number' step='1' min='1' class='form-control' value='1' /></td><td align='center'><i class='fa fa-close remove'></td></tr>";

                        if ($('#order_list > tbody').find('tr#' + product_id).exists()) {
                            var $input = $('#order_list > tbody').find('tr#' + product_id).children('td').find('input');
                            var num = 0;
                            num = parseInt($input.val(), 10) + 1;
                            $input.val(num);
                        } else {
                            $('#order_list > tbody').append(tr);
                        }                      
                        e.preventDefault();
                    });
                });

                $('#order_list tbody').on('click', '.remove', function (e) {
                    if (!confirm('Bạn muốn bỏ mặt hàng này khỏi đơn hàng?')) {
                        return;
                    }
                    $(this).closest('tr').remove()
                })
   

            });           
            

            $("form").on("submit", function (event) {
                event.preventDefault();
                var data = {};
                var OrderProduct = [];
                var $form = $(this);
                // check if the input is valid
                if (!$form.valid()) return false;

                data.order_code = $('#order_code').val();
                data.customer_name = $('#customer_name').val();
                data.customer_phone = $('#customer_phone').val();
                data.customer_address = $('#customer_address').val();
                data.customer_email = $('#customer_email').val();
                data.status_order = $('#status_order').val();

                $("#order_list tbody tr").map(function () {
                    var $row = $(this);
                    console.log('quantity_number', $row.find(":nth-child(6)").children('input').val());
                    var order = {
                        product_id: $row.find(":nth-child(1)").text(),
                        net_price: parseFloat($row.find(":nth-child(5)").text()),
                        quantity_number: parseInt($row.find(":nth-child(6)").children('input').val()),
                        price: parseFloat($row.data('price'))
                    };
                    OrderProduct.push(order);
                })
                data.OrderProduct = OrderProduct;
                console.log('data', JSON.parse(JSON.stringify(data)));
                
                // submit
                // Use Ajax to submit form data
                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: data,
                    dataType: "json",
                    beforeSend: function (xhr) {
                        $('#submit').prop('disabled', true);
                    },
                    error: function (xhr) {
                        console.log('err ' + xhr);
                    },
                    success: function (data) {
                        if (console && console.log) {
                            $('#submit').prop('disabled', false);
                            //if (data == 1) {
                            //    alert('Tạo đơn hàng thành công');
                            //}
                            window.location.href = '/Carts/Detail/' + $('#order_code').val(); //Will take you to /Carts.
                        }
                    }
                });                

            });

        })

    </script>
}