﻿@{
    ViewData["Title"] = "Bán hàng";
}
@using System.Collections
@model CartShop.ViewModel.CartViewModel

<div class="row">
    <div class="col-lg-12">
        <h3>Chi tiết đơn hàng</h3>
        <hr />

        @if (Model != null)
        {
            <div class="form-horizontal">
                @*@Html.AntiForgeryToken()*@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <fieldset>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Ngày đặt hàng: </label>
                            <p>@Model.order_date</p>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Mã nhân viên</label>
                            <p>@Model.user_id</p>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-6">
                            <label asp-for="order_code" class="control-label"></label>
                            <p>@Model.order_code</p>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="customer_name" class="control-label"></label>
                            <p>@Model.customer_name</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label asp-for="customer_phone" class="control-label"></label>
                            <p>@Model.customer_phone</p>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="customer_address" class="control-label"></label>
                            <p>@Model.customer_address</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label asp-for="customer_email" class="control-label"></label>
                            <p>@Model.customer_email</p>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="status_order" class="control-label"></label>
                            <p>
                                @if (Model.status_order == 1)
                                {
                                    <text>Đơn hàng mới</text>
                                }
                                else if (Model.status_order == 2)
                                {
                                    <text>Đơn hàng đang chuyển</text>
                                }
                                else if (Model.status_order == 3)
                                {
                                    <span>Đã thanh toán</span>
                                }
                            </p>                            
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="javascript:void(0)" onclick="printscreen()" class="btn btn-primary" id="print-pdf"><i class="fa fa-plus"></i> In hóa đơn</a>
                            <a asp-action="Create" class="btn btn-default"><i class="fa fa-plus"></i> Hóa đơn mới</a>
                        </div>
                    </div>

                    <h4>Chi tiết sản phẩm đơn hàng:</h4><hr />
                    <table id="order_list" class="table table-bordered">
                        <thead>
                            <tr>
                                <th data-field="product_name">Tên sản phẩm</th>
                                <th data-field="net_price">Giá bán</th>
                                <th data-field="price">Giá nhập</th>
                                <th data-field="quantity_number">Số lượng</th>
                                <th>Thành tiền</th>
                                <th>Tổng tiền nhập</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.OrderProduct.Count > 0)
                            {
                                foreach (var item in Model.OrderProduct)
                                {
                                    <tr>
                                        <td>@item.product_name</td>
                                        <td>@item.net_price</td>
                                        <td>@item.price</td>
                                        <td>@item.quantity_number</td>
                                        <td>@item.TongBan</td>
                                        <td>@item.TongNhạp</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>



                </fieldset>











            </div>
        }

        

    </div>
    <!-- /.col-lg-12 -->
</div>


@section Scripts {
    <script>

        function printscreen() {
            window.print();
        }

    </script>
}