﻿@{
    ViewData["Title"] = "Quản lý đơn hàng";
    int _pageSize = (int)ViewData["PageSize"];
}

@model PaginatedList<CartShop.ViewModel.CartViewModel>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]</h1>

        @if (TempData["Errors"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Errors"]
            </div>
        }

        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Success"]
            </div>
        }
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12 padding_bottom_100">
        <p class="pull-left">
            <a asp-action="Create" class="btn btn-primary">Đơn hàng mới</a>
        </p>

        <form asp-action="Index" method="get" class="pull-right form-inline">
            <div class="form-actions no-color">
                <div class="form-group">
                    <input type="text" name="SearchString" class="form-control" value="@ViewData["currentFilter"]" placeholder="Search...." />
                    <input type="submit" value="Tìm kiếm" class="btn btn-default" /> |
                    <a asp-action="Index">Quay trở danh sách</a>
                </div>
            </div>
        </form>

        @if (Model != null)
        {
            int i = 1;
            if (Model.PageIndex > 1)
            {
                i = (i + (Model.PageIndex - 1) * _pageSize);
            }
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th width="50">Mã đơn hàng</th>
                        @*<th><a asp-action="Index" asp-route-sortOrder="@ViewData["OrderCodeSortParm"]">Mã đơn hàng</a></th>*@
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["OrderDateSortParm"]">Ngày đặt</a></th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["CustomNameSortParm"]">Tên khách hàng</a></th>
                        <th>Số điện thoại</th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["StatusCodeSortParm"]">Trạng thái đơn hàng</a></th>
                        <th>Mã người dùng </th>
                        <th>Tên người tạo</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>dh_@i</td>
                            <td>@item.order_date.Value.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
                            <td>@item.customer_name</td>
                            <td>@item.customer_phone</td>
                            <td>
                                @if (item.status_order == 1)
                                { <text>Chưa thanh toán</text> }
                                @*else if (item.status_order == 2)
                                { <text>Đang chuyên</text>}*@
                                else if (item.status_order == 3)
                                {
                                    <text>Đã thanh toán</text>
                                }
                                @*else if (item.status_order == 4)
                                {  <text>Đã hủy</text>}*@
                                else
                                {
                                    <text>Đã xóa bỏ</text>
                                }
                            </td>
                            <td>
                                @item.manhanvien
                             </td>
                            <td>@item.TenNguoiTao</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.order_code">Sửa</a> |
                                <a asp-action="Detail" asp-route-id="@item.order_code">Chi iết</a> |
                                <a href="javascript:void(0)" onclick="ConfirmDelete('@item.order_code');">Xóa</a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>


            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";


            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @prevDisabled">
                <i class="fa fa-angle-double-left"></i> Trang trước
            </a>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @nextDisabled">
                Trang sau <i class="fa fa-angle-double-right"></i>
            </a>
        }

    </div>
</div>


@section Scripts {
    <script>

        function ConfirmDelete(Id) {
            if (!confirm('Bạn muốn xóa đơn hàng này không?')) {
                return;
            }
            $.ajax({
                url: '/Carts/Delete?Id='+Id,
                type: 'POST',
                data: { Id: Id},
                dataType: "json",
                error: function (xhr) {
                    console.log('err ' + xhr);
                },
                success: function (data) {
                    if (console && console.log) {
                        if (data == 1) {
                            alert('Bạn đã xóa đơn hàng thành công');
                        } else if(data == 0) {
                            alert('Đơn hàng không tồn tại, đã bị xóa hoặc hủy bỏ, hoặc đã thanh toán.');
                        }
                        window.location.href = '/Carts'; //Will take you to /Carts.
                    }
                }
            });

        }

    </script>
}