﻿@{
    ViewData["Title"] = "Cập nhật thông tin danh mục nhà sản xuất";
}
@using System.Collections
@model CartShop.ViewModel.ProviderViewModel

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">

        <form asp-action="Edit" method="post">
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>
                
                <fieldset>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Mã nhà cung cấp</label>
                        <div class="col-md-10">
                            <input asp-for="provider_id" type="text" readonly class="form-control" />
                            <span asp-validation-for="provider_id" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="provider_name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="provider_name" type="text" class="form-control" />
                            <span asp-validation-for="provider_name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="provider_address" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="provider_address" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="provider_rating" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="provider_rating" type="number" min="1" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="provider_note" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <textarea asp-for="provider_note" rows="5" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="status" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <label>
                                <input asp-for="status" type="checkbox" checked />
                            </label>
                        </div>
                    </div>
                </fieldset>
                                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-primary" id="submit">Cập nhật</button>
                        <a asp-action="Index" class="btn btn-default">Quay lại danh sách</a>
                    </div>
                </div>

            </div>
        </form>

    </div>
    <!-- /.col-lg-12 -->
</div>