﻿@{
    ViewData["Title"] = "Quản lý danh mục nhà cung cấp";
    int _pageSize = (int)ViewData["PageSize"];
}

@model PaginatedList<CartShop.ViewModel.ProviderViewModel>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]</h1>

       @if (TempData["Errors"] != null)
       {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Errors"]
        </div>
       }

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Success"]
        </div>
    }
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12 padding_bottom_100">
        <p class="pull-left">
            <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
        </p>

        <form asp-action="Index" method="get" class="pull-right form-inline">
            <div class="form-actions no-color">
                <div class="form-group">
                    <input type="text" name="SearchString" class="form-control" value="@ViewData["currentFilter"]" placeholder="Search...." />
                    <input type="submit" value="Tìm kiếm" class="btn btn-default" /> |
                    <a asp-action="Index">Quay trở danh sách</a>
                </div>
            </div>
        </form>

        @if (Model != null)
        {
            int i = 1;
            if (Model.PageIndex > 1)
            {
                i = (i + (Model.PageIndex - 1) * _pageSize);
            }
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th width="50">Mã nhà cung cấp</th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["ProviderNameSortParm"]">Tên nhà cung cấp</a></th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["ProviderAddressSortParm"]">Địa chỉ</a></th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["ProviderRatingSortParm"]">Đánh giá</a></th>
                        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["ProviderNoteSortParm"]">Ghi chú</a></th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>ncc_@i</td>
                            <td>@item.provider_name</td>
                            <td>@item.provider_address</td>
                            <td>@item.provider_rating</td>
                            <td>@item.provider_note</td>
                            <td>@if (item.status)
                            { <text>Đang cung cấp</text> }
                            else
                            { <text>Ngừng cung cấp</text>}</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.provider_id">Sửa</a> |
                                <a href="javascript:void(0)" onclick="ConfirmDelete('@item.provider_id');">Xóa</a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>


            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";


            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @prevDisabled">
                <i class="fa fa-angle-double-left"></i> Trang trước
            </a>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @nextDisabled">
                Trang sau <i class="fa fa-angle-double-right"></i>
            </a>
        }

    </div>
</div>


@section Scripts {
  
    <script>

        function ConfirmDelete(Id) {
            if (!confirm('Bạn muốn xóa nhà cung cấp này không?')) {
                return;
            }
            $.ajax({
                url: '/Provider/Delete?Id='+Id,
                type: 'POST',
                data: { Id: Id},
                dataType: "json",
                error: function (xhr) {
                    alert('Nhà cung cấp không tồn tại.');
                },
                success: function (data) {
                    if (console && console.log) {
                        if (data == 1) {
                            alert('Bạn đã xóa nhà cung cấp thành công');
                        } else if(data == 0) {
                            alert('Nhà cung cấp không thể xóa, vì đang chứa các mặt hàng, bạn có thể chuyển sang trạng thái ngừng cung cấp.');
                        }
                        window.location.href = '/Provider/Index'; //Will take you to /Provider/Index.
                    }
                }
            });

        }

    </script>

}