﻿<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
       @Model <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li>
            <a href="#"><i class="fa fa-user fa-fw"></i>Đổi mật khẩu</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/Account/Logout"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
        </li>
    </ul>
    <!-- /.dropdown-user -->
</li>