﻿@{
    ViewData["Title"] = "Báo cáo doanh số";
    int _pageSize = (int)ViewData["PageSize"];
}

@model PaginatedList<CartShop.ViewModel.ReportsViewModel>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" />

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]</h1>

        @if (ViewData["Errors"] != null)
        {
            <p class="alert alert-danger">@ViewData["Errors"]</p>
        }

        @if (ViewData["Success"] != null)
        {
            <p class="alert alert-success">@ViewData["Success"]</p>
        }
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12 padding_bottom_100">
        <p class="pull-left">
            <a href="javascript:void(0)" onclick="printscreen()" class="btn btn-primary">In báo cáo</a>
        </p>

        <form asp-action="Index" method="get" class="pull-right form-inline">
            <div class="form-actions no-color">                
                <div class="form-group">
                    <label for="catId">Từ ngày</label>
                    <div id="fromDate" class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                        <input name="fromDate" type="text" class="form-control">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <label for="catId">Đến ngày</label>
                    <div id="toDate" class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                        <input name="toDate" type="text" class="form-control">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    @*<input type="text" name="searchString" class="form-control" placeholder="Nhập tên sản phẩm...." value="@ViewData["currentFilter"]" />*@
                    <input type="submit" value="Thống kê" class="btn btn-default" /> |
                    <a asp-action="Index">Quay trở lại báo cáo</a>
                </div>
            </div>
        </form>

        @if (Model != null)
        {
            int i = 1;
            if (Model.PageIndex > 1)
            {
                i = (i + (Model.PageIndex - 1) * _pageSize);
            }
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th width="100">Mã báo cáo</th>
                        <th>Ngày đặt hàng</th>
                        <th>Tổng tiền</th>
                        <th>Số đơn hàng</th>
                    </tr>
                    
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>bc_@i</th>                            
                            <td>@item.OrderDate</td>
                            <td>@item.TotalMoney</td>
                            <td>@item.TotalOrder</td>
                        </tr>
                        i++;
                    }
                    @if (Model != null)
                    {
                    <tr>
                        <th colspan="2">Tổng Số:</th>
                        <th>
                            @Model.Sum(x => x.TotalMoney)
                        </th>
                        <th>
                            @Model.Sum(x => x.TotalOrder)
                        </th>
                    </tr>
                    }
                </tbody>
            </table>


            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";


            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-fromDate="@ViewData["FromDate"]"
               asp-route-toDate="@ViewData["toDate"]"
               class="btn btn-default @prevDisabled">
                <i class="fa fa-angle-double-left"></i> Trang trước
            </a>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-fromDate="@ViewData["FromDate"]"
               asp-route-toDate="@ViewData["toDate"]"
               class="btn btn-default @nextDisabled">
                Trang sau <i class="fa fa-angle-double-right"></i>
            </a>
        }

    </div>
</div>



@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    

    @if (@ViewData["FromDate"] != null)
    {

        <script>
            $("#fromDate").datepicker("update", new Date('@ViewData["FromDate"]'));
        </script>
    }
    @if (@ViewData["toDate"] != null)
    {
        <script>
            $("#toDate").datepicker("update", new Date('@ViewData["toDate"]'));
        </script>
   
    }

<script>

        function printscreen() {
            window.print();
        }

</script>
}