﻿@{
    ViewData["Title"] = "Thêm mới danh mục sản phẩm";
}
@using System.Collections
@model CartShop.ViewModel.CategoryViewModel

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">

        <form asp-action="Create" method="post">
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="category_id" type="hidden" />

                <fieldset>
                    <h3>Thông tin danh mục hàng hóa</h3>
                    <hr />
                    <div class="form-group">
                        <label asp-for="category_name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="category_name" type="text" class="form-control" placeholder="Tên danh mục" />
                            <span asp-validation-for="category_name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="status" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <label>
                                <input asp-for="status" type="checkbox" checked />
                            </label>
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-primary" id="submit"><i class="fa fa-plus"></i> Thêm mới</button>
                        <a asp-action="Index" class="btn btn-default">Quay lại danh sách</a>
                    </div>
                </div>

            </div>
        </form>

    </div>
    <!-- /.col-lg-12 -->
</div>