﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -  QUẢN LÝ BÁN HÀNG VER 1.0</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />        
        <!-- MetisMenu CSS -->
        <link href="~/lib/metisMenu/dist/metisMenu.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="~/css/sb-admin-2.css" rel="stylesheet">
        <!-- Morris Charts CSS -->
        <link href="~/lib/morrisjs/morris.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />        
        <!-- MetisMenu CSS -->
        <link href="~/lib/metisMenu/dist/metisMenu.min.css" rel="stylesheet" asp-append-version="true">
        <!-- Custom CSS -->
        <link href="~/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">
        <!-- Morris Charts CSS -->
        <link href="~/lib/morrisjs/morris.css" rel="stylesheet" asp-append-version="true">
        <!-- Custom Fonts -->
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
   
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="font-size: 1.6em; font-weight: 600;">PHẦN MỀM QUẢN LÝ BÁN HÀNG VER 1.0</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                @await Component.InvokeAsync("CurrentUser")
            </ul>

            @await Component.InvokeAsync("Sidebar")            
        </nav>
        <div id="page-wrapper">
           @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="~/lib/metisMenu/dist/metisMenu.min.js"></script>
        <!-- Morris Charts JavaScript -->
        <script src="~/lib/raphael/raphael.min.js"></script>
        <script src="~/lib/morrisjs/morris.min.js"></script>
        <script src="~/lib/morrisjs/morris.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="~/js/sb-admin-2.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="~/lib/metisMenu/dist/metisMenu.min.js"></script>
        <!-- Morris Charts JavaScript -->
        <script src="~/lib/raphael/raphael.min.js"></script>
        <script src="~/lib/morrisjs/morris.min.js"></script>
        <script src="~/lib/morrisjs/morris.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="~/js/sb-admin-2.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
    <!-- cdn for modernizr, if you haven't included it already -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
    <!-- polyfiller file to detect and load polyfills -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
    <script>
  webshims.setOptions('waitReady', false);
  webshims.setOptions('forms-ext', {types: 'date'});
  webshims.polyfill('forms forms-ext');
    </script>
</body>
</html>
