﻿@model CartShop.ViewModel.CurrentUser

@if (Model != null)
{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
           Xin chào: <b>@Model.UserName &lt;@Model.Email&gt;</b><i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="#"><i class="fa fa-user-secret fa-fw"></i>@Model.RoleName</a>
            </li>
            <li>
                <a href="/Account/ChangePass"><i class="fa fa-user fa-fw"></i>Đổi mật khẩu</a>
            </li>            
            <li class="divider"></li>
            <li>
                <a href="/Account/Logout"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
}


